.band{
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-padrao);
 
}


.band img{
width: var(--largura-imagens);
height: var(--altura-imagens);
margin-right: var(--margin-padrao);
object-fit: cover;
}

.bandinfo{
    flex: 1;
}